{
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.",
  "canonicalName": "Cloud Run",
  "title": "Cloud Run Admin API",
  "name": "run",
  "discoveryVersion": "v1",
  "rootUrl": "https://run.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/run/",
  "basePath": "",
  "version_module": true,
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "baseUrl": "https://run.googleapis.com/",
  "protocol": "rest",
  "endpoints": [
    {
      "description": "Locational Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://africa-south1-run.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east1-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-east2-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://asia-northeast1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-northeast3-run.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://asia-south1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-south2-run.googleapis.com/",
      "location": "asia-south2",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast1-run.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast2-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://asia-southeast3-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast4-run.googleapis.com/",
      "location": "asia-southeast4"
    },
    {
      "endpointUrl": "https://australia-southeast1-run.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast2-run.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://europe-central2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-north1-run.googleapis.com/",
      "location": "europe-north1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north2-run.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "location": "europe-southwest1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-southwest1-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west1-run.googleapis.com/",
      "location": "europe-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west10-run.googleapis.com/",
      "location": "europe-west10",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://europe-west12-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west15",
      "endpointUrl": "https://europe-west15-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-run.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://europe-west3-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west4-run.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west6-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-run.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://europe-west9-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-central1-run.googleapis.com/",
      "location": "me-central1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central2-run.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Locational Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://me-west1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast1-run.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://northamerica-northeast2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://northamerica-south1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://southamerica-east1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-west1-run.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central1-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-central2-run.googleapis.com/",
      "location": "us-central2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east1-run.googleapis.com/",
      "location": "us-east1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east4-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://us-east5-run.googleapis.com/",
      "location": "us-east5",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east7-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-south1-run.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://us-west1-run.googleapis.com/",
      "location": "us-west1",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://us-west2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://us-west3-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west4-run.googleapis.com/",
      "location": "us-west4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west8-run.googleapis.com/",
      "location": "us-west8",
      "description": "Locational Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://run.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://run.asia-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://run.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://run.asia-southeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast4.rep.googleapis.com/",
      "location": "asia-southeast4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://run.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://run.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://run.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-southwest1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://run.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://run.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://run.europe-west3.rep.googleapis.com/"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://run.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://run.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://run.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "northamerica-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://run.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://run.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://run.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://run.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://run.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west8",
      "endpointUrl": "https://run.us-west8.rep.googleapis.com/"
    }
  ],
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "schemas": {
    "GoogleDevtoolsCloudbuildV1Warning": {
      "type": "object",
      "properties": {
        "priority": {
          "enumDescriptions": [
            "Should not be used.",
            "e.g. deprecation warnings and alternative feature highlights.",
            "e.g. automated detection of possible issues with the build.",
            "e.g. alerts that a feature used in the build is pending removal"
          ],
          "description": "The priority for this warning.",
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ALERT"
          ]
        },
        "text": {
          "description": "Explanation of the warning generated.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1Warning",
      "description": "A non-fatal problem encountered during the execution of the build."
    },
    "GoogleCloudRunV2SubmitBuildResponse": {
      "description": "Response message for submitting a Build.",
      "properties": {
        "baseImageUri": {
          "description": "URI of the base builder image in Artifact Registry being used in the build. Used to opt into automatic base image updates.",
          "type": "string"
        },
        "buildOperation": {
          "description": "Cloud Build operation to be polled via CloudBuild API.",
          "$ref": "GoogleLongrunningOperation"
        },
        "baseImageWarning": {
          "type": "string",
          "description": "Warning message for the base image."
        }
      },
      "type": "object",
      "id": "GoogleCloudRunV2SubmitBuildResponse"
    },
    "GoogleIamV1Binding": {
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "GoogleIamV1Binding"
    },
    "GoogleDevtoolsCloudbuildV1GenericArtifactDependency": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1GenericArtifactDependency",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. The location to download the artifact files from. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1"
        },
        "destPath": {
          "description": "Required. Where the artifact files should be placed on the worker.",
          "type": "string"
        }
      },
      "description": "Represents a generic artifact as a build dependency."
    },
    "GoogleDevtoolsCloudbuildV1Oci": {
      "id": "GoogleDevtoolsCloudbuildV1Oci",
      "description": "OCI image to upload to Artifact Registry upon successful completion of all build steps.",
      "type": "object",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Tags to apply to the uploaded image. e.g. latest, 1.0.0"
        },
        "registryPath": {
          "description": "Required. Registry path to upload the container to. e.g. us-east1-docker.pkg.dev/my-project/my-repo/my-image",
          "type": "string"
        },
        "file": {
          "type": "string",
          "description": "Required. Path on the local file system where to find the container to upload. e.g. /workspace/my-image.tar"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1Artifacts": {
      "description": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps.",
      "type": "object",
      "properties": {
        "genericArtifacts": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1GenericArtifact"
          },
          "type": "array",
          "description": "Optional. A list of generic artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. If any artifacts fail to be pushed, the build is marked FAILURE."
        },
        "pythonPackages": {
          "description": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1PythonPackage"
          }
        },
        "oci": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Oci"
          },
          "description": "Optional. A list of OCI images to be uploaded to Artifact Registry upon successful completion of all build steps. OCI images in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any images fail to be pushed, the build is marked FAILURE.",
          "type": "array"
        },
        "images": {
          "type": "array",
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE.",
          "items": {
            "type": "string"
          }
        },
        "objects": {
          "$ref": "GoogleDevtoolsCloudbuildV1ArtifactObjects",
          "description": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE."
        },
        "npmPackages": {
          "description": "A list of npm packages to be uploaded to Artifact Registry upon successful completion of all build steps. Npm packages in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any packages fail to be pushed, the build is marked FAILURE.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1NpmPackage"
          }
        },
        "mavenArtifacts": {
          "type": "array",
          "description": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1MavenArtifact"
          }
        },
        "goModules": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1GoModule"
          },
          "description": "Optional. A list of Go modules to be uploaded to Artifact Registry upon successful completion of all build steps. If any objects fail to be pushed, the build is marked FAILURE.",
          "type": "array"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1Artifacts"
    },
    "GoogleDevtoolsCloudbuildV1BuildApproval": {
      "properties": {
        "result": {
          "description": "Output only. Result of manual approval for this Build.",
          "$ref": "GoogleDevtoolsCloudbuildV1ApprovalResult",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ],
          "description": "Output only. The state of this build's approval.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ]
        },
        "config": {
          "description": "Output only. Configuration for manual approval of this build.",
          "$ref": "GoogleDevtoolsCloudbuildV1ApprovalConfig",
          "readOnly": true
        }
      },
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "id": "GoogleDevtoolsCloudbuildV1BuildApproval",
      "type": "object"
    },
    "GoogleCloudRunV2Revision": {
      "id": "GoogleCloudRunV2Revision",
      "type": "object",
      "description": "A Revision is an immutable snapshot of code and configuration. A Revision references a container image. Revisions are only created by updates to its parent Service.",
      "properties": {
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object",
          "readOnly": true
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "format": "google-datetime",
          "type": "string"
        },
        "executionEnvironment": {
          "type": "string",
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ],
          "description": "The execution environment being used to host this Revision.",
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ]
        },
        "conditions": {
          "type": "array",
          "description": "Output only. The Condition of this Revision, containing its readiness status, and detailed error information in case it did not reach a serving state.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          }
        },
        "creator": {
          "description": "Output only. Email address of the authenticated creator.",
          "type": "string",
          "readOnly": true
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "The least stable launch stage needed to create this resource, as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. Note that this value might not be what was used as input. For example, if ALPHA was provided as input in the parent resource, but only BETA and GA-level features are used, this field will be BETA.",
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "logUri": {
          "readOnly": true,
          "description": "Output only. The Google Console URI to obtain logs for the Revision.",
          "type": "string"
        },
        "clientVersion": {
          "readOnly": true,
          "description": "Output only. Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "scaling": {
          "$ref": "GoogleCloudRunV2RevisionScaling",
          "description": "Scaling settings for this revision."
        },
        "observedGeneration": {
          "description": "Output only. The generation of this Revision currently serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "client": {
          "description": "Output only. Arbitrary identifier for the API client.",
          "type": "string",
          "readOnly": true
        },
        "reconciling": {
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Service.reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "boolean",
          "readOnly": true
        },
        "nodeSelector": {
          "description": "The node selector for the revision.",
          "$ref": "GoogleCloudRunV2NodeSelector"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request.",
          "type": "string"
        },
        "volumes": {
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "description": "A list of Volumes to make available to containers.",
          "type": "array"
        },
        "etag": {
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "readOnly": true,
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          },
          "description": "Holds the list which define the units of execution for this Revision."
        },
        "workloadIdentityConfig": {
          "$ref": "GoogleCloudRunV2WorkloadIdentityConfig",
          "description": "Optional. The Revision's workload identity settings."
        },
        "sessionAffinity": {
          "description": "Enable session affinity.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last-modified time."
        },
        "scalingStatus": {
          "description": "Output only. The current effective scaling settings for the revision.",
          "$ref": "GoogleCloudRunV2RevisionScalingStatus",
          "readOnly": true
        },
        "gpuZonalRedundancyDisabled": {
          "description": "Optional. Output only. True if GPU zonal redundancy is disabled on this revision.",
          "type": "boolean",
          "readOnly": true
        },
        "maxInstanceRequestConcurrency": {
          "type": "integer",
          "description": "Sets the maximum number of requests that each serving instance can receive.",
          "format": "int32"
        },
        "timeout": {
          "description": "Max allowed time for an instance to respond to a request.",
          "format": "google-duration",
          "type": "string"
        },
        "encryptionKey": {
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Server assigned unique identifier for the Revision. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "type": "string",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has.",
          "type": "string"
        },
        "encryptionKeyRevocationAction": {
          "enumDescriptions": [
            "Unspecified",
            "Prevents the creation of new instances.",
            "Shuts down existing instances, and prevents creation of new ones."
          ],
          "description": "The action to take if the encryption key is revoked.",
          "type": "string",
          "enum": [
            "ENCRYPTION_KEY_REVOCATION_ACTION_UNSPECIFIED",
            "PREVENT_NEW",
            "SHUTDOWN"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique name of this Revision.",
          "type": "string"
        },
        "serviceMesh": {
          "description": "Enables service mesh connectivity.",
          "$ref": "GoogleCloudRunV2ServiceMesh"
        },
        "vpcAccess": {
          "$ref": "GoogleCloudRunV2VpcAccess",
          "description": "VPC Access configuration for this Revision. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc."
        },
        "service": {
          "description": "Output only. The name of the parent service.",
          "type": "string",
          "readOnly": true
        },
        "encryptionKeyShutdownDuration": {
          "description": "If encryption_key_revocation_action is SHUTDOWN, the duration before shutting down all instances. The minimum increment is 1 hour.",
          "format": "google-duration",
          "type": "string"
        },
        "generation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudRunV2ListServicesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating there are more items than page_size. Use it in the next ListServices request to continue."
        },
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. For global requests, returns the list of regions that could not be reached within the deadline."
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Service"
          },
          "description": "The resulting list of Services."
        }
      },
      "id": "GoogleCloudRunV2ListServicesResponse",
      "description": "Response message containing a list of Services.",
      "type": "object"
    },
    "GoogleCloudRunV2Probe": {
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "properties": {
        "httpGet": {
          "description": "Optional. HTTPGet specifies the http request to perform. Exactly one of httpGet, tcpSocket, or grpc must be specified.",
          "$ref": "GoogleCloudRunV2HTTPGetAction"
        },
        "timeoutSeconds": {
          "type": "integer",
          "description": "Optional. Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Maximum value is 3600. Must be smaller than period_seconds.",
          "format": "int32"
        },
        "tcpSocket": {
          "description": "Optional. TCPSocket specifies an action involving a TCP port. Exactly one of httpGet, tcpSocket, or grpc must be specified.",
          "$ref": "GoogleCloudRunV2TCPSocketAction"
        },
        "grpc": {
          "description": "Optional. GRPC specifies an action involving a gRPC port. Exactly one of httpGet, tcpSocket, or grpc must be specified.",
          "$ref": "GoogleCloudRunV2GRPCAction"
        },
        "periodSeconds": {
          "description": "Optional. How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. Must be greater or equal than timeout_seconds.",
          "format": "int32",
          "type": "integer"
        },
        "initialDelaySeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of seconds after the container has started before the probe is initiated. Defaults to 0 seconds. Minimum value is 0. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240."
        },
        "failureThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1."
        }
      },
      "id": "GoogleCloudRunV2Probe",
      "type": "object"
    },
    "GoogleCloudRunV2WorkerPoolScaling": {
      "description": "Worker pool scaling settings.",
      "properties": {
        "manualInstanceCount": {
          "type": "integer",
          "description": "Optional. The total number of instances in manual scaling mode.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudRunV2WorkerPoolScaling",
      "type": "object"
    },
    "GoogleCloudRunV2EnvVarSource": {
      "type": "object",
      "id": "GoogleCloudRunV2EnvVarSource",
      "properties": {
        "secretKeyRef": {
          "description": "Selects a secret and a specific version from Cloud Secret Manager.",
          "$ref": "GoogleCloudRunV2SecretKeySelector"
        }
      },
      "description": "EnvVarSource represents a source for the value of an EnvVar."
    },
    "GoogleDevtoolsCloudbuildV1TimeSpan": {
      "description": "Start and end times for a build execution phase.",
      "id": "GoogleDevtoolsCloudbuildV1TimeSpan",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Start of time span.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End of time span.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV2BuildpacksBuild": {
      "properties": {
        "functionTarget": {
          "type": "string",
          "description": "Optional. Name of the function target if the source is a function source. Required for function builds."
        },
        "cacheImageUri": {
          "description": "Optional. cache_image_uri is the GCR/AR URL where the cache image will be stored. cache_image_uri is optional and omitting it will disable caching. This URL must be stable across builds. It is used to derive a build-specific temporary URL by substituting the tag with the build ID. The build will clean up the temporary image on a best-effort basis.",
          "type": "string"
        },
        "runtime": {
          "deprecated": true,
          "description": "The runtime name, e.g. 'go113'. Leave blank for generic builds.",
          "type": "string"
        },
        "baseImage": {
          "description": "Optional. The base image to use for the build.",
          "type": "string"
        },
        "projectDescriptor": {
          "description": "Optional. project_descriptor stores the path to the project descriptor file. When empty, it means that there is no project descriptor file in the source.",
          "type": "string"
        },
        "environmentVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-provided build-time environment variables.",
          "type": "object"
        },
        "enableAutomaticUpdates": {
          "description": "Optional. Whether or not the application container will be enrolled in automatic base image updates. When true, the application will be built on a scratch base image, so the base layers can be appended at run time.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Build the source using Buildpacks.",
      "id": "GoogleCloudRunV2BuildpacksBuild"
    },
    "GoogleCloudRunV2ExecutionTemplate": {
      "id": "GoogleCloudRunV2ExecutionTemplate",
      "properties": {
        "template": {
          "description": "Required. Describes the task(s) that will be created when executing an execution.",
          "$ref": "GoogleCloudRunV2TaskTemplate"
        },
        "parallelism": {
          "type": "integer",
          "description": "Optional. Specifies the maximum desired number of tasks the execution should run at given time. When the job is run, if this field is 0 or unset, the maximum possible value will be used for that execution. The actual number of tasks running in steady state will be less than this number when there are fewer tasks waiting to be completed remaining, i.e. when the work left to do is less than max parallelism.",
          "format": "int32"
        },
        "delayExecution": {
          "description": "Optional. If true, the system will start the execution within the next 12 hours depending on available capacity.",
          "type": "boolean"
        },
        "client": {
          "description": "Optional. Arbitrary identifier for the API client.",
          "type": "string"
        },
        "clientVersion": {
          "description": "Optional. Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "labels": {
          "description": "Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 ExecutionTemplate.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "annotations": {
          "description": "Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system annotations in v1 now have a corresponding field in v2 ExecutionTemplate. This field follows Kubernetes annotations' namespacing, limits, and rules.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "taskCount": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution. Defaults to 1."
        }
      },
      "type": "object",
      "description": "ExecutionTemplate describes the data an execution should have when created from a template."
    },
    "GoogleDevtoolsCloudbuildV1GenericArtifact": {
      "type": "object",
      "description": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "properties": {
        "folder": {
          "type": "string",
          "description": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry."
        },
        "registryPath": {
          "description": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1GenericArtifact"
    },
    "GoogleDevtoolsCloudbuildV1StorageSource": {
      "id": "GoogleDevtoolsCloudbuildV1StorageSource",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        },
        "sourceFetcher": {
          "description": "Optional. Option to specify the tool to fetch the source file for the build.",
          "enumDescriptions": [
            "Unspecified defaults to GSUTIL.",
            "Use the \"gsutil\" tool to download the source file.",
            "Use the Cloud Storage Fetcher tool to download the source file."
          ],
          "type": "string",
          "enum": [
            "SOURCE_FETCHER_UNSPECIFIED",
            "GSUTIL",
            "GCS_FETCHER"
          ]
        },
        "object": {
          "description": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build.",
          "type": "string"
        },
        "generation": {
          "format": "int64",
          "description": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "type": "string"
        }
      },
      "description": "Location of the source in an archive file in Cloud Storage.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1InlineSecret": {
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value.",
      "properties": {
        "envMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
        },
        "kmsKeyName": {
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1InlineSecret"
    },
    "GoogleDevtoolsCloudbuildV1StorageSourceManifest": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1StorageSourceManifest",
      "properties": {
        "bucket": {
          "description": "Required. Cloud Storage bucket containing the source manifest (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "generation": {
          "type": "string",
          "description": "Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "format": "int64"
        },
        "object": {
          "type": "string",
          "description": "Required. Cloud Storage object containing the source manifest. This object must be a JSON file."
        }
      },
      "description": "Location of the source manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher)."
    },
    "GoogleCloudRunV2ListRevisionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token indicating there are more items than page_size. Use it in the next ListRevisions request to continue.",
          "type": "string"
        },
        "revisions": {
          "description": "The resulting list of Revisions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Revision"
          }
        }
      },
      "description": "Response message containing a list of Revisions.",
      "type": "object",
      "id": "GoogleCloudRunV2ListRevisionsResponse"
    },
    "GoogleCloudRunV2SourceFile": {
      "properties": {
        "content": {
          "description": "Required. Input only. Represents the exact, literal, and complete source code of the file. Placeholders like `...` or comments such as `# [rest of code]` should NEVER be used as omission. Every character in this field will be built into the final container. Any omission will result in a broken application.",
          "type": "string"
        },
        "filename": {
          "description": "Required. Input only. The file name for the source code. e.g., `\"index.js\"` or `\"node_modules/dependency.js\"`. The filename must be less than 255 characters and cannot contain `..`, `./`, `//`, or end with a `/`. Cloud Run will place the files in the container subdirectories, please use relative path to access the file.",
          "type": "string"
        }
      },
      "description": "Source file.",
      "id": "GoogleCloudRunV2SourceFile",
      "type": "object"
    },
    "GoogleCloudRunV2HTTPHeader": {
      "id": "GoogleCloudRunV2HTTPHeader",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The header field name",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. The header field value"
        }
      },
      "description": "HTTPHeader describes a custom header to be used in HTTP probes"
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1BuildStepResults": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1BuildStepResults",
      "description": "Results for a build step.",
      "properties": {
        "results": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Results for a build step."
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2ServiceMesh": {
      "id": "GoogleCloudRunV2ServiceMesh",
      "type": "object",
      "description": "Settings for Cloud Service Mesh. For more information see https://cloud.google.com/service-mesh/docs/overview.",
      "properties": {
        "mesh": {
          "type": "string",
          "description": "The Mesh resource name. Format: `projects/{project}/locations/global/meshes/{mesh}`, where `{project}` can be project id or number."
        }
      }
    },
    "GoogleCloudRunV2EnvVar": {
      "description": "EnvVar represents an environment variable present in a Container.",
      "properties": {
        "value": {
          "description": "Literal value of the environment variable. Defaults to \"\", and the maximum length is 32768 bytes. Variable references are not supported in Cloud Run.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the environment variable. Must not exceed 32768 characters."
        },
        "valueSource": {
          "$ref": "GoogleCloudRunV2EnvVarSource",
          "description": "Source for the environment variable's value."
        }
      },
      "id": "GoogleCloudRunV2EnvVar",
      "type": "object"
    },
    "GoogleCloudRunV2SecretKeySelector": {
      "properties": {
        "secret": {
          "type": "string",
          "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret_name} if the secret is in the same project. projects/{project}/secrets/{secret_name} if the secret is in a different project."
        },
        "version": {
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest version, an integer for a specific version, or a version alias.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2SecretKeySelector",
      "type": "object",
      "description": "SecretEnvVarSource represents a source for the value of an EnvVar."
    },
    "GoogleCloudRunV2ContainerPort": {
      "id": "GoogleCloudRunV2ContainerPort",
      "properties": {
        "containerPort": {
          "format": "int32",
          "type": "integer",
          "description": "Port number the container listens on. This must be a valid TCP port number, 0 \u003c container_port \u003c 65536."
        },
        "name": {
          "description": "If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ContainerPort represents a network port in a single container."
    },
    "UtilStatusProto": {
      "description": "Wire-format for a Status object",
      "type": "object",
      "id": "UtilStatusProto",
      "properties": {
        "code": {
          "format": "int32",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "type": "integer"
        },
        "canonicalCode": {
          "format": "int32",
          "type": "integer",
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;"
        },
        "message": {
          "type": "string",
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "Proto2BridgeMessageSet"
        },
        "space": {
          "type": "string",
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
        }
      }
    },
    "GoogleCloudRunV2ExportStatusResponse": {
      "id": "GoogleCloudRunV2ExportStatusResponse",
      "description": "ExportStatusResponse contains the status of image export operation, with the status of each image export job.",
      "type": "object",
      "properties": {
        "operationState": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Operation still in progress.",
            "Operation finished."
          ],
          "description": "Output only. The state of the overall export operation.",
          "readOnly": true,
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FINISHED"
          ]
        },
        "operationId": {
          "description": "The operation id.",
          "type": "string"
        },
        "imageExportStatuses": {
          "type": "array",
          "description": "The status of each image export job.",
          "items": {
            "$ref": "GoogleCloudRunV2ImageExportStatus"
          }
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1Dependency": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1Dependency",
      "properties": {
        "genericArtifact": {
          "$ref": "GoogleDevtoolsCloudbuildV1GenericArtifactDependency",
          "description": "Represents a generic artifact as a build dependency."
        },
        "empty": {
          "description": "If set to true disable all dependency fetching (ignoring the default source as well).",
          "type": "boolean"
        },
        "gitSource": {
          "description": "Represents a git repository as a build dependency.",
          "$ref": "GoogleDevtoolsCloudbuildV1GitSourceDependency"
        }
      },
      "description": "A dependency that the Cloud Build worker will fetch before executing user steps."
    },
    "GoogleDevtoolsCloudbuildV1Volume": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
        },
        "path": {
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1Volume",
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1FailureInfo": {
      "description": "A fatal problem encountered during the execution of the build.",
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1FailureInfo",
      "properties": {
        "detail": {
          "description": "Explains the failure issue in more detail using hard-coded text.",
          "type": "string"
        },
        "type": {
          "description": "The name of the failure.",
          "type": "string",
          "enum": [
            "FAILURE_TYPE_UNSPECIFIED",
            "PUSH_FAILED",
            "PUSH_IMAGE_NOT_FOUND",
            "PUSH_NOT_AUTHORIZED",
            "LOGGING_FAILURE",
            "USER_BUILD_STEP",
            "FETCH_SOURCE_FAILED"
          ],
          "enumDescriptions": [
            "Type unspecified",
            "Unable to push the image to the repository.",
            "Final image not found.",
            "Unauthorized push of the final image.",
            "Backend logging failures. Should retry.",
            "A build step has failed.",
            "The source fetching has failed."
          ]
        }
      }
    },
    "GoogleCloudRunV2Volume": {
      "id": "GoogleCloudRunV2Volume",
      "properties": {
        "secret": {
          "$ref": "GoogleCloudRunV2SecretVolumeSource",
          "description": "Secret represents a secret that should populate this volume."
        },
        "emptyDir": {
          "description": "Ephemeral storage used as a shared volume.",
          "$ref": "GoogleCloudRunV2EmptyDirVolumeSource"
        },
        "cloudSqlInstance": {
          "description": "For Cloud SQL volumes, contains the specific instances that should be mounted. Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run.",
          "$ref": "GoogleCloudRunV2CloudSqlInstance"
        },
        "name": {
          "description": "Required. Volume's name.",
          "type": "string"
        },
        "nfs": {
          "description": "For NFS Voumes, contains the path to the nfs Volume",
          "$ref": "GoogleCloudRunV2NFSVolumeSource"
        },
        "gcs": {
          "$ref": "GoogleCloudRunV2GCSVolumeSource",
          "description": "Persistent storage backed by a Google Cloud Storage bucket."
        }
      },
      "description": "Volume represents a named volume in a container.",
      "type": "object"
    },
    "GoogleCloudRunV2Container": {
      "type": "object",
      "properties": {
        "startupProbe": {
          "$ref": "GoogleCloudRunV2Probe",
          "description": "Startup probe of application within the container. All other probes are disabled if a startup probe is provided, until it succeeds. Container will not be added to service endpoints if the probe fails."
        },
        "env": {
          "items": {
            "$ref": "GoogleCloudRunV2EnvVar"
          },
          "description": "List of environment variables to set in the container.",
          "type": "array"
        },
        "baseImageUri": {
          "type": "string",
          "description": "Base image for this container. Only supported for services. If set, it indicates that the service is enrolled into automatic base image update."
        },
        "workingDir": {
          "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image.",
          "type": "string"
        },
        "volumeMounts": {
          "type": "array",
          "description": "Volume to mount into the container's filesystem.",
          "items": {
            "$ref": "GoogleCloudRunV2VolumeMount"
          }
        },
        "image": {
          "type": "string",
          "description": "Required. Name of the container image in Dockerhub, Google Artifact Registry, or Google Container Registry. If the host is not provided, Dockerhub is assumed."
        },
        "ports": {
          "description": "List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2ContainerPort"
          }
        },
        "dependsOn": {
          "items": {
            "type": "string"
          },
          "description": "Names of the containers that must start before this container.",
          "type": "array"
        },
        "livenessProbe": {
          "$ref": "GoogleCloudRunV2Probe",
          "description": "Periodic probe of container liveness. Container will be restarted if the probe fails."
        },
        "sourceCode": {
          "description": "Optional. Location of the source. This field is only supported in Cloud Run Service.",
          "$ref": "GoogleCloudRunV2SourceCode"
        },
        "name": {
          "type": "string",
          "description": "Name of the container specified as a DNS_LABEL (RFC 1123)."
        },
        "sandboxLauncher": {
          "type": "boolean",
          "description": "Optional. Indicates that this container can act as a sandbox supervisor and launch sandboxes."
        },
        "command": {
          "type": "array",
          "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided.",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided.",
          "type": "array"
        },
        "buildInfo": {
          "$ref": "GoogleCloudRunV2BuildInfo",
          "description": "Output only. The build info of the container image.",
          "readOnly": true
        },
        "resources": {
          "description": "Compute Resource requirements by this container.",
          "$ref": "GoogleCloudRunV2ResourceRequirements"
        },
        "readinessProbe": {
          "description": "Readiness probe to be used for health checks.",
          "$ref": "GoogleCloudRunV2Probe"
        }
      },
      "id": "GoogleCloudRunV2Container",
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments can be supplied by the system to the container at runtime."
    },
    "GoogleDevtoolsCloudbuildV1Secret": {
      "id": "GoogleDevtoolsCloudbuildV1Secret",
      "type": "object",
      "description": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Cloud KMS key name to use to decrypt these envs."
        },
        "secretEnv": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "additionalProperties": {
            "format": "byte",
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudRunV2NFSVolumeSource": {
      "properties": {
        "readOnly": {
          "description": "If true, the volume will be mounted as read only for all mounts.",
          "type": "boolean"
        },
        "server": {
          "type": "string",
          "description": "Hostname or IP address of the NFS server"
        },
        "path": {
          "type": "string",
          "description": "Path that is exported by the NFS server."
        }
      },
      "description": "Represents an NFS mount.",
      "id": "GoogleCloudRunV2NFSVolumeSource",
      "type": "object"
    },
    "GoogleCloudRunV2TrafficTargetStatus": {
      "id": "GoogleCloudRunV2TrafficTargetStatus",
      "properties": {
        "percent": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies percent of the traffic to this Revision."
        },
        "tag": {
          "description": "Indicates the string used in the URI to exclusively reference this target.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Displays the target URI."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ],
          "description": "The allocation type for this traffic target.",
          "type": "string",
          "enum": [
            "TRAFFIC_TARGET_ALLOCATION_TYPE_UNSPECIFIED",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_REVISION"
          ]
        },
        "revision": {
          "type": "string",
          "description": "Revision to which this traffic is sent."
        }
      },
      "description": "Represents the observed state of a single `TrafficTarget` entry.",
      "type": "object"
    },
    "GoogleCloudRunV2BinaryAuthorization": {
      "description": "Settings for Binary Authorization feature.",
      "type": "object",
      "properties": {
        "breakglassJustification": {
          "type": "string",
          "description": "Optional. If present, indicates to use Breakglass using this justification. If use_default is False, then it must be empty. For more information on breakglass, see https://cloud.google.com/binary-authorization/docs/using-breakglass"
        },
        "policy": {
          "type": "string",
          "description": "Optional. The path to a binary authorization policy. Format: `projects/{project}/platforms/cloudRun/{policy-name}`"
        },
        "useDefault": {
          "description": "Optional. If True, indicates to use the default project's binary authorization policy. If False, binary authorization will be disabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudRunV2BinaryAuthorization"
    },
    "GoogleDevtoolsCloudbuildV1UploadedPythonPackage": {
      "properties": {
        "artifactRegistryPackage": {
          "type": "string",
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true
        },
        "uri": {
          "type": "string",
          "description": "URI of the uploaded artifact."
        },
        "fileHashes": {
          "description": "Hash types and values of the Python Artifact.",
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes"
        },
        "pushTiming": {
          "readOnly": true,
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan"
        }
      },
      "type": "object",
      "description": "Artifact uploaded using the PythonPackage directive.",
      "id": "GoogleDevtoolsCloudbuildV1UploadedPythonPackage"
    },
    "GoogleDevtoolsCloudbuildV1GoModule": {
      "properties": {
        "repositoryProjectId": {
          "type": "string",
          "description": "Optional. Project ID of the Artifact Registry repository. Defaults to the build project."
        },
        "modulePath": {
          "description": "Optional. The Go module's \"module path\". e.g. example.com/foo/v2",
          "type": "string"
        },
        "repositoryLocation": {
          "description": "Optional. Location of the Artifact Registry repository. i.e. us-east1 Defaults to the build’s location.",
          "type": "string"
        },
        "repositoryName": {
          "type": "string",
          "description": "Optional. Artifact Registry repository name. Specified Go modules will be zipped and uploaded to Artifact Registry with this location as a prefix. e.g. my-go-repo"
        },
        "moduleVersion": {
          "description": "Optional. The Go module's semantic version in the form vX.Y.Z. e.g. v0.1.1 Pre-release identifiers can also be added by appending a dash and dot separated ASCII alphanumeric characters and hyphens. e.g. v0.2.3-alpha.x.12m.5",
          "type": "string"
        },
        "sourcePath": {
          "type": "string",
          "description": "Optional. Source path of the go.mod file in the build's workspace. If not specified, this will default to the current directory. e.g. ~/code/go/mypackage"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1GoModule",
      "description": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file.",
      "type": "object"
    },
    "GoogleCloudRunV2VpcAccess": {
      "type": "object",
      "description": "VPC Access settings. For more information on sending traffic to a VPC network, visit https://cloud.google.com/run/docs/configuring/connecting-vpc.",
      "id": "GoogleCloudRunV2VpcAccess",
      "properties": {
        "connector": {
          "description": "VPC Access connector name. Format: `projects/{project}/locations/{location}/connectors/{connector}`, where `{project}` can be project id or number. For more information on sending traffic to a VPC network via a connector, visit https://cloud.google.com/run/docs/configuring/vpc-connectors.",
          "type": "string"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "GoogleCloudRunV2NetworkInterface"
          },
          "type": "array",
          "description": "Optional. Direct VPC egress settings. Currently only single network interface is supported."
        },
        "egress": {
          "description": "Optional. Traffic VPC egress settings. If not provided, it defaults to PRIVATE_RANGES_ONLY.",
          "enumDescriptions": [
            "Unspecified",
            "All outbound traffic is routed through the VPC connector.",
            "Only private IP ranges are routed through the VPC connector."
          ],
          "type": "string",
          "enum": [
            "VPC_EGRESS_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_RANGES_ONLY"
          ]
        }
      }
    },
    "GoogleCloudRunV2SourceCode": {
      "description": "Source type for the container.",
      "id": "GoogleCloudRunV2SourceCode",
      "properties": {
        "cloudStorageSource": {
          "$ref": "GoogleCloudRunV2CloudStorageSource",
          "description": "The source is a Cloud Storage bucket."
        },
        "inlinedSource": {
          "description": "Optional. Input only. Source code inlined in the request. Cloud Run will store the inlined_source to Cloud Storage and replace the field with cloud_storage_source. This field is only supported in Cloud Run Service.",
          "$ref": "GoogleCloudRunV2InlinedSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2WorkerPool": {
      "description": "WorkerPool acts as a top-level container that manages a set of configurations and revision templates which implement a pull-based workload. WorkerPool exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership.",
      "id": "GoogleCloudRunV2WorkerPool",
      "type": "object",
      "properties": {
        "customAudiences": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Deprecated: Not supported, and ignored by Cloud Run."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "observedGeneration": {
          "format": "int64",
          "description": "Output only. The generation of this WorkerPool currently serving workloads. See comments in `reconciling` for additional information on reconciliation process in Cloud Run. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`.",
          "type": "string",
          "readOnly": true
        },
        "template": {
          "description": "Required. The template used to create revisions for this WorkerPool.",
          "$ref": "GoogleCloudRunV2WorkerPoolRevisionTemplate"
        },
        "description": {
          "description": "User-provided description of the WorkerPool. This field currently has a 512-character limit.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last-modified time.",
          "type": "string",
          "format": "google-datetime"
        },
        "scaling": {
          "description": "Optional. Specifies worker-pool-level scaling settings",
          "$ref": "GoogleCloudRunV2WorkerPoolScaling"
        },
        "generation": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state. Please note that unlike v1, this is an int64 value. As with most Google APIs, its JSON representation will be a `string` instead of an `integer`."
        },
        "threatDetectionEnabled": {
          "description": "Output only. Indicates whether Cloud Run Threat Detection monitoring is enabled for the parent project of this worker pool.",
          "readOnly": true,
          "type": "boolean"
        },
        "binaryAuthorization": {
          "$ref": "GoogleCloudRunV2BinaryAuthorization",
          "description": "Optional. Settings for the Binary Authorization feature."
        },
        "latestCreatedRevision": {
          "readOnly": true,
          "description": "Output only. Name of the last created revision. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the authenticated creator."
        },
        "name": {
          "description": "The fully qualified name of this WorkerPool. In CreateWorkerPoolRequest, this field is ignored, and instead composed from CreateWorkerPoolRequest.parent and CreateWorkerPoolRequest.worker_id. Format: `projects/{project}/locations/{location}/workerPools/{worker_id}`",
          "type": "string"
        },
        "lastModifier": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the last authenticated modifier."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation time.",
          "format": "google-datetime"
        },
        "latestReadyRevision": {
          "description": "Output only. Name of the latest revision that is serving workloads. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "type": "string"
        },
        "client": {
          "description": "Arbitrary identifier for the API client.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Returns true if the WorkerPool is currently being acted upon by the system to bring it into the desired state. When a new WorkerPool is created, or an existing one is updated, Cloud Run will asynchronously perform all necessary steps to bring the WorkerPool to the desired serving state. This process is called reconciliation. While reconciliation is in process, `observed_generation`, `latest_ready_revison`, `instance_split_statuses`, and `uri` will have transient values that might mismatch the intended state: Once reconciliation is over (and this field is false), there are two possible outcomes: reconciliation succeeded and the serving state matches the WorkerPool, or there was an error, and reconciliation failed. This state can be found in `terminal_condition.state`. If reconciliation succeeded, the following fields will match: `instance_splits` and `instance_split_statuses`, `observed_generation` and `generation`, `latest_ready_revision` and `latest_created_revision`. If reconciliation failed, `instance_split_statuses`, `observed_generation`, and `latest_ready_revision` will have the state of the last serving revision, or empty for newly created WorkerPools. Additional information on the failure can be found in `terminal_condition` and `conditions`.",
          "type": "boolean"
        },
        "conditions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "description": "Output only. The Conditions of all other associated sub-resources. They contain additional diagnostics information in case the WorkerPool does not reach its Serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted."
        },
        "instanceSplitStatuses": {
          "items": {
            "$ref": "GoogleCloudRunV2InstanceSplitStatus"
          },
          "description": "Output only. Detailed status information for corresponding instance splits. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "type": "array",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Server assigned unique identifier for the trigger. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted.",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects. Cloud Run API v2 does not support annotations with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected in new resources. All system annotations in v1 now have a corresponding field in v2 WorkerPool. This field follows Kubernetes annotations' namespacing, limits, and rules."
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The deletion time. It is only populated as a response to a Delete request."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels. Cloud Run API v2 does not support labels with `run.googleapis.com`, `cloud.googleapis.com`, `serving.knative.dev`, or `autoscaling.knative.dev` namespaces, and they will be rejected. All system labels in v1 now have a corresponding field in v2 WorkerPool."
        },
        "clientVersion": {
          "description": "Arbitrary version identifier for the API client.",
          "type": "string"
        },
        "terminalCondition": {
          "readOnly": true,
          "$ref": "GoogleCloudRunV2Condition",
          "description": "Output only. The Condition of this WorkerPool, containing its readiness status, and detailed error information in case it did not reach a serving state. See comments in `reconciling` for additional information on reconciliation process in Cloud Run."
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "Optional. The launch stage as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. If no value is specified, GA is assumed. Set the launch stage to a preview stage on input to allow use of preview features in that stage. On read (or output), describes whether the resource uses preview features. For example, if ALPHA is provided as input, but only BETA and GA-level features are used, this field will be BETA on output."
        },
        "instanceSplits": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2InstanceSplit"
          },
[...]
